SUPABASE_URL=https://neirughcdztckvkkvsbp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5laXJ1Z2hjZHp0Y2t2a2t2c2JwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEyMDY3MiwiZXhwIjoyMDkyNjk2NjcyfQ.rWlUBGLJDCN6A_ct9y0bYxgr2nE0OxZZ6BgyzNOx-UQ
SCRAPERAPI_KEY=74d13dd04a0b4ebda47e1a538adf8df4
